<%- include('partials/header') %>
<link rel="stylesheet" href="css/client/unavailable.css" />

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <img src="images/sorry.gif" alt="sorry-gif" srcset="" />
      <h5 style="margin-top: 2">Hall currently unavailable</h5>
      <a href="/home">Explore other halls</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
