<footer id="footer">
    <div class="row">
      <div class="col-lg-4">
        <a href="http://www.facebook.com/" role="button" style="color: white;"><i class="social-icon fa fa-facebook"></i></a>
        <a href="https://twitter.com/explore" role="button" style="color: white;"><i class="social-icon fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/" role="button" style="color: white;"><i class="social-icon fa fa-instagram"></i></a>
        <a href="mailto:akashdevelops@gmail.com" role="button" style="color: white;"><i class="social-icon fa fa-envelope"></i></a>
      </div>
      <div class="col-lg-4">
        <p  style="margin: 0;">©copyrights by La Mirage</p>
      </div>
      <div class="col-lg-4">
        Contact us: &nbsp; admin@lamirage, &nbsp;9876543210
      </div>
    </div>
  </footer>
</body>
</html>

