<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/admin-home"> Dashboard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin-viewbookings"> Bookings </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin-add-rooms"> Add Room </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin-viewemployees"
              >Manage Employees
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
